<footer>
    <div class="container mt-5">
    <div class=" text-center row">
    <div class="col-sm-4 mt-4">
      <address>Address</address>
      <p class="footerInfo">1405 Ottawa St N Unit 11, </p>
        <p class="footerInfo">Kitchener, ON N2A 3Z1</p>
    </div> 
    <div class="col-sm-4 mt-4">
      <address>Contact Number</address>
      <p class="footerInfo">+1 888-570-6110 </p>
        <p class="footerInfo">+1 647-776-0331</p>
    </div>
    <div class="col-sm-4 mt-4">
      <p>Timing</p>
      <p class="footerInfo">Mon to Fri 7:00 AM to 7:00 PM</p>
        <p class="footerInfo">Sat 8:30 AM to 5:00 PM</p>
    </div>
  
  </div>
  <hr style="border: 1px solid white;">
  <p class="text-center mt-2 mb-2">
    <a href="mailto:admin@drivetest.com" class="copyright text-center">admin@drivetest.com</a></p>
  </p>
  </div>
  </footer>
  </html>